# **Experiment No 7**

Aim: Develop a dashboard and reporting tool based on real time social media data.

name: Zaki Mehtab Qureshi<br>
Roll No. - 19CO40<br>
Class - BECO<br>
Sem - 8<br>

### **1. Scrape Twitter Data for Mamaearth India Tweets**

In [7]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: snscrape in /usr/local/lib/python3.9/dist-packages (0.6.2.20230320)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.9/dist-packages (from snscrape) (2.27.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.11.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from snscrape) (3.11.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->snscrape) (2.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.7.1)

In [8]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [9]:
import os
os.system("snscrape --jsonl --max-results 500 --since 2023-04-01 twitter-search 'Airbus' > text-tweets.json")

0

In [10]:
tweets_df_allmamaearthindia = pd.read_json('text-tweets.json', lines=True)

In [11]:
tweets_df_allmamaearthindia.head()

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,cashtags,card,viewCount,vibe,content,outlinks,outlinksss,tcooutlinks,tcooutlinksss,username
0,snscrape.modules.twitter.Tweet,https://twitter.com/abovestockport/status/1646...,2023-04-12 10:15:33+00:00,EZY89DV easyJet G-EZDR Airbus A319 111 \...,EZY89DV easyJet G-EZDR Airbus A319 111 \...,1646094696102391808,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,None,NaN,NaN,EZY89DV easyJet G-EZDR Airbus A319 111 \...,[],,[],,abovestockport
1,snscrape.modules.twitter.Tweet,https://twitter.com/skyoverhavant/status/16460...,2023-04-12 10:15:31+00:00,‚û†Air Transat Airbus A321-271NX\n4mls SE of Hav...,‚û†Air Transat Airbus A321-271NX\n4mls SE of Hav...,1646094689790042112,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,None,NaN,NaN,‚û†Air Transat Airbus A321-271NX\n4mls SE of Hav...,[],,[],,skyoverhavant
2,snscrape.modules.twitter.Tweet,https://twitter.com/rubenhofs/status/164609455...,2023-04-12 10:15:00+00:00,F-GSTD Airbus A300B4-608ST #NLspot https://t.c...,F-GSTD Airbus A300B4-608ST #NLspot https://t.c...,1646094557933608962,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,None,NaN,NaN,F-GSTD Airbus A300B4-608ST #NLspot https://t.c...,[],,[],,rubenhofs
3,snscrape.modules.twitter.Tweet,https://twitter.com/abovestockport/status/1646...,2023-04-12 10:14:12+00:00,AFR67DZ Air France F-GRHF Airbus A319 11...,AFR67DZ Air France F-GRHF Airbus A319 11...,1646094357445976066,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,None,NaN,NaN,AFR67DZ Air France F-GRHF Airbus A319 11...,[],,[],,abovestockport
4,snscrape.modules.twitter.Tweet,https://twitter.com/centralspotter/status/1646...,2023-04-12 10:13:59+00:00,üëÄ‚úàÔ∏èüîä\nEI-DVM \n#Unknown \n#Aer Lingus \n#Irela...,üëÄ‚úàÔ∏èüîä\nEI-DVM \n#Unknown \n#Aer Lingus \n#Irela...,1646094303956025345,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,None,NaN,NaN,üëÄ‚úàÔ∏èüîä\nEI-DVM \n#Unknown \n#Aer Lingus \n#Irela...,[https://globe.adsbexchange.com/?icao=4CA92D],https://globe.adsbexchange.com/?icao=4CA92D,[https://t.co/LTQRUEOcp1],https://t.co/LTQRUEOcp1,centralspotter

In [12]:
print(tweets_df_allmamaearthindia.shape)

(500, 36)